.header-wrap{
    background-image: url("./img/header_background.png");
    background-repeat:no-repeat;
    background-size: cover;
    /*padding-top: 3    0px;*/
}

button {
    outline: none !important;
}

a:hover {
    text-decoration: none !important;
    color: #0063DD !important;
}

.header {
    display: flex;
    justify-content:space-between;
}

.header img{
    width: 200px;
}
.nav-btn{
    background-color: #0063DD;
    color: #FFFFFF;
    padding: 7px 30px;
    border-radius: 20px;
    border: none;
}
nav{
    margin-right: 10px;
    padding-top: 15px;
}
nav a{
    padding-top: 50px;
    margin-right: 10px;
    color: gray;
}
nav a:active{
    color: red;
}

.app-son{
    margin-top: 0;
    background-color: #0063DD;
    padding: 15px;
    color: #FFFFFF;
    border-radius:0 0 20px 20px;
    font-weight: 600;
    font-size: 25px;
}

.body-header{
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.body-header img {
    width: 75%;
}

.header-title {
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 700;
}

.second-text{
    width: 50%;
    color: #999999;
}

.header-buttons {
    display: flex;
    margin-top: 30px;
}

.down-btn{
    margin-right: 30px;
    color: #FFFFFF;
    background-color: #0063DD;
    border:none;
    border-radius: 25px;
    padding: 10px 40px;
}

.tril-btn{
    color: #0063DD;
    border-color: #0063DD;
    border-radius: 25px;
    padding: 10px 40px;
    background: #ffffff;
}

.main-first{

}
.first-card{
    background-color: #F5FCFD;
    z-index: 5;
    padding: 120px 200px 120px 200px;
}

.icon{
    background-color: #FFFFFF;
    text-align: center;
    margin-right: 30px;
    /*padding-bottom: 60px;*/
    height: 300px;
}
.cards{
    display: flex;
}

.icon2{
    margin-top: 30px;

}

.img-card{
    margin: 30px;
}

.icon-text{
    margin-bottom: 15px;
}

.text-card{
    color: #999999;
}

.second-card {
    padding-left: 200px;
    padding-right: 200px;
}

.second_card_row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
}

.easy-messaging{
    margin-bottom:15px;
    font-size: 25px;
}
.easy-messaging-text{
    margin-bottom: 15px;
    font-size: 15px;
    color: #999999;
    line-height: 25px;
}

.second_card_row img:first-child{
    margin-top: -25px;
}

.second-card img {
    width: 500px;
}

.second_card_row .text--block2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text1--block2{
    margin-left: 40px;
}

.text2--block2{
    margin-right: 40px;
}

.second-card{
    padding-top: 0;
}
.text_readmore{
    color: #0063DD;
    font-weight: 600;
    cursor: pointer;
    width: fit-content;
}
.block4 {
    padding: 100px;
    background-color:#F5FCFD;
    text-align: center;
}

.block4-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block4-title {
    font-size: 30px;
    font-weight: 600;
}

.block4-main-text {
    width: 70%;
    color: #999999;
    margin-top: 20px;
    margin-bottom: 40px;
}

.block4-texts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.block4-texts-title {
    font-size: 20px;
    color: #000;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 15px;
}

.block4-texts-item {
    color: #999999;
}

.block5 {
    padding: 100px;
}

.block5-body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.block5-card {
    box-shadow: 0 0 40px rgba(0,0,0,0.1);
    background: #ffffff;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.block5-card .title {

}

.block5-card1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.block5-card1 .title {
    font-size: 30px;
    margin-bottom: 25px;
    font-weight: 500;
}

.block5-card1 .text {
    color: #999999;
    margin-bottom: 50px;
}

.block5-card1 .buttons-wrap {
    display: flex;
}

.block5-card1 button {
    width: 49%;
    padding: 12px;
}

.block5-card1 .montnly {
    background: #0063DD;
    border-radius: 25px 0 0 25px;
    color: #ffffff;
    font-weight: 500;
    border: none;
}

.block5-card1 .yearly {
    background: #ffffff;
    border-radius: 0 25px 25px 0;
    color: #0063DD;
    font-weight: 500;
    border: 2px solid #0063DD;
}

block5-card2 {


}

block5-card3 {

}
.block6{
    background-color: #F5FCFD;
}
.block7{
    padding: 100px;
}
.block7 .body{
    display: flex;
}

.block7-title {
    font-size: 30px;
    font-weight: 600;
}

.block7-second-text {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 70%;
    color: #999999;
}

.block7 .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.left-block {
    width: 50%;
    margin-right: 30px;
}

.left-block-title {
    color: #0063DD;
    font-size: 28px;
    line-height: 30px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 20px;
}

.left-block-text {
    color: #999999;
}

.left-block-continue {
    color: #0063DD;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    width: fit-content;
}

.block7 .body_card{
    display: flex;
    margin-bottom: 35px;
}

.right-block {
    width: 50%;
}

.body_card-item {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #999999;
}

.body_card-item-title {
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}

.block7 .body_card img{
    width: 150px;
    height: 120px;
}

.block8{
    background-color: #F5FCFD;
}

.block8 .body {
    display: flex;
    justify-content: space-around;
    padding: 100px;
}

.block8-free-text {
    font-size: 30px;
    font-weight: 600;
}

.block8-second-text {
    font-size: 13px;
}

.get-start-btn {
    border: none;
    background-color: #0063DD;
    color: #ffffff;
    padding: 13px 60px;
    border-radius: 4px;
}

.block9 {
    background-color: #0063DD;
    padding: 100px;
    border-bottom: 1px solid #FFFFFF;
    text-align: center;
}

.block9-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #ffffff;
}

.subscribe{
    margin-left: -5px;
    color: #0063DD;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    height: 50px;
    font-weight: 500;
    padding: 12px 35px;
    border-radius: 0 25px 25px 0;
    border: none;
}
.block9 input {
    background-color: #0063DD;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    padding: 12px 20px;
    border-radius: 25px 0 0 25px;
    outline: none !important;
    width: 350px;
}
input::placeholder {
    color: #FFFFFF;
}
footer {
    background-color: #0063DD;
    color: #FFFFFF;
    padding: 30px;
    font-size: 12px;
}
.footer{
    display: flex;
    justify-content: space-between;
}
