.header-wrap{
    background-image: url("./img/header_background.png");
    background-repeat:no-repeat;
    background-size: cover;
    /*padding-top: 3    0px;*/
}

.header {
    display: flex;
    justify-content:space-between;
}

.header img{
    width: 200px;
}
.nav__btn{
    background-color: #0063DD;
    /*border-color: #0063DD;*/
    color: #FFFFFF;
    padding: 7px 30px ;
    border-radius: 70%;
    border: none;
}
nav{
    margin-right: 10px;
    padding-top: 15px;
}
nav a{
    padding-top: 50px;
    margin-right: 10px;
    color: gray;
}
nav a:active{
    color: red;
}

.app-son{
    margin-top: 0;
    background-color: #0063DD;
    padding: 15px;
    color: #FFFFFF;
    border-radius:0 0 15% 15%;
}

.body__header{
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.header-title {
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 700;
}

.second-text{
    width: 50%;
    color: #999999;
}

.header-buttons {
    display: flex;
    margin-top: 30px;
}

.down__btn{
    margin-right: 30px;
    color: #FFFFFF;
    background-color: #0063DD;
    border:none;
    border-radius: 20%;
}

.tril__btn{
    color: #0063DD;
    border-color: #0063DD;
}

.main__first{

}
.first__card{
    background-color: #F5FCFD;
    z-index: 5;
    padding: 120px 200px 120px 200px;
}

.icon{
    background-color: #FFFFFF;
    text-align: center;
    margin-right: 30px;
    /*padding-bottom: 60px;*/
    height: 300px;
}
.cards{
    display: flex;
}

.icon2{
    margin-top: 30px;

}

.img__card{
    margin: 30px;
}

.icon__text{
    margin-bottom: 15px;
}

.text__card{
    color: #999999;
}

.second__card {
    padding-left: 200px;
    padding-right: 200px;
}
.easy-messaging{
    margin-bottom:15px;
    font-size: 25px;
}
.easy-messaging-text{
    margin-bottom: 15px;
    font-size: 15px;
    color: #999999;
}
.second_card_row{
    display: flex;

}
.second_card_row img{
    margin-top: -25px;
    width: 400px;
}

.second_card_row .text--block2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text1--block2{
    margin-left: 40px;
}

.text2--block2{
    margin-right: 40px;
}

.second__card{
    padding-top: 0;
}
.text_readmore{
    color: #0063DD;
}
.block4{
    padding: 50px;
    background-color:#F5FCFD;
    text-align: center;
}
.block5-body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.block6{
    background-color: #F5FCFD;
}
.block7{
    padding: 50px;
    /*text-align: center;*/
}
.block7 .body{
    display: flex;
}
.block7 .title{
    text-align: center;
}

.block7 .body_card{
    display: flex;
}

.block7 .body_card img{
    width: 120px;
    height: 100px;
}

.block8{
    background-color: #F5FCFD;
}
.block8 .body {
    display: flex;
    justify-content: space-around;
    padding: 100px;
}
.block9 {
    background-color: #0063DD;
    padding: 50px;
    border-bottom: 1px solid #FFFFFF;
    text-align: center;
}
.subscribe{
    margin-left: -5px;
    color: #0063DD;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}
.block9 input {
    background-color: #0063DD;
    border-color: #FFFFFF;
    color: #FFFFFF;
}
input::placeholder {
    color: #FFFFFF;
}
footer {
    background-color: #0063DD;
    color: #FFFFFF;
    padding: 30px;
    font-size: 12px;
}
.footer{
    display: flex;
    justify-content: space-between;
}